body {
    font-family: 'Fantasy','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    color:black;
}
.container-fluid{
    background: rgba(255,255,255, 0.5);
}
body > footer{
    margin:0px;
    padding:0px;
    min-width:100%;
    max-width:100%;
    background:#ffffff;
    height:auto;
}
img {
    opacity: 1.0;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
H1 {
    font-family: "Fantasy", Times, serif;
}
